# Python
__pycache__/
*.py[cod]
*.pyc

# Django
db.sqlite3
*.log
media/

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env

# IDE
.idea/
.vscode/

# Arquivos gerados
staticfiles/
staticfiles/